<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>About - Jiango's Homepage</title>
	    <link rel="shortcut icon" href="/favicon.ico">
	    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
	    <link href="/impressjs/css/impress-demo.css" rel="stylesheet" />
	</head>
	<body class="impress-not-supported">
		<div class="fallback-message">
		    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
		    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
		</div>
		<div id="impress">
			<div class="step slide" data-x="-1000" data-y="-1500">
				<q>Python Web App on <b>GAE</b></q>
			</div>
			<div class="step slide" data-x="0" data-y="-1500">
				<q>00aVen</q>
			</div>			
			<div id="title" class="step" data-x="0" data-y="0" data-scale="4">
		        <span>00aVen</span>
		    </div>
		    <div class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
		        <span class="footnote">00aVen</span>
		    </div>
		    <div class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="3">
		        <p>00aVen</p>
		    </div>
			<div class="step" data-x="6000" data-y="3350" data-scale="2">
		        <p>...</p>
		    </div>
		    <div class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
		    	<p>00aVen</p>
		    </div>
		    <div class="step" data-x="3000" data-y="1500" data-scale="10">
		    </div>
		</div>

		<div class="hint">
		    <p>Use a spacebar or arrow keys to navigate</p>
		</div>
		<script>
		if ("ontouchstart" in document.documentElement) { 
		    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
		}
		</script>

		<script src="/impressjs/js/impress.js"></script>
		<script>impress().init();</script>
	</body>
<html>